<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Abreve</key>
  <string>A_breve.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Acyr</key>
  <string>A_cyr.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>Becyr</key>
  <string>B_ecyr.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>Checyr</key>
  <string>C_hecyr.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Decyr</key>
  <string>D_ecyr.glif</string>
  <key>Decyr.loclBGR</key>
  <string>D_ecyr.loclB_G_R_.glif</string>
  <key>Djecyr</key>
  <string>D_jecyr.glif</string>
  <key>Dzecyr</key>
  <string>D_zecyr.glif</string>
  <key>Dzhecyr</key>
  <string>D_zhecyr.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ebreve</key>
  <string>E_breve.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Efcyr</key>
  <string>E_fcyr.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Eiotifiedcyr</key>
  <string>E_iotifiedcyr.glif</string>
  <key>Elcyr</key>
  <string>E_lcyr.glif</string>
  <key>Elcyr.loclBGR</key>
  <string>E_lcyr.loclB_G_R_.glif</string>
  <key>Emcyr</key>
  <string>E_mcyr.glif</string>
  <key>Encyr</key>
  <string>E_ncyr.glif</string>
  <key>Ercyr</key>
  <string>E_rcyr.glif</string>
  <key>Ereversedcyr</key>
  <string>E_reversedcyr.glif</string>
  <key>Escyr</key>
  <string>E_scyr.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Eukrcyr</key>
  <string>E_ukrcyr.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>Fitacyr</key>
  <string>F_itacyr.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>Gbreve</key>
  <string>G_breve.glif</string>
  <key>Gecyr</key>
  <string>G_ecyr.glif</string>
  <key>Geupcyr</key>
  <string>G_eupcyr.glif</string>
  <key>Gjecyr</key>
  <string>G_jecyr.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>Hacyr</key>
  <string>H_acyr.glif</string>
  <key>Hardcyr</key>
  <string>H_ardcyr.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Ibreve</key>
  <string>I_breve.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Icyr</key>
  <string>I_cyr.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Iecyr</key>
  <string>I_ecyr.glif</string>
  <key>Iegravecyr</key>
  <string>I_egravecyr.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>Igravecyr</key>
  <string>I_gravecyr.glif</string>
  <key>Iocyr</key>
  <string>I_ocyr.glif</string>
  <key>Ishortcyr</key>
  <string>I_shortcyr.glif</string>
  <key>Iukrcyr</key>
  <string>I_ukrcyr.glif</string>
  <key>Izhitsacyr</key>
  <string>I_zhitsacyr.glif</string>
  <key>Izhitsagravedblcyr</key>
  <string>I_zhitsagravedblcyr.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>Jecyr</key>
  <string>J_ecyr.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>Kacyr</key>
  <string>K_acyr.glif</string>
  <key>Kacyr.loclBGR</key>
  <string>K_acyr.loclB_G_R_.glif</string>
  <key>Kjecyr</key>
  <string>K_jecyr.glif</string>
  <key>Ksicyr</key>
  <string>K_sicyr.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>Ldot</key>
  <string>L_dot.glif</string>
  <key>Ljecyr</key>
  <string>L_jecyr.glif</string>
  <key>Lslash</key>
  <string>L_slash.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Njecyr</key>
  <string>N_jecyr.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Obreve</key>
  <string>O_breve.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Ocyr</key>
  <string>O_cyr.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Omegacyr</key>
  <string>O_megacyr.glif</string>
  <key>Omegaroundcyr</key>
  <string>O_megaroundcyr.glif</string>
  <key>Omegatitlocyr</key>
  <string>O_megatitlocyr.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otcyr</key>
  <string>O_tcyr.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Pecyr</key>
  <string>P_ecyr.glif</string>
  <key>Psicyr</key>
  <string>P_sicyr.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>Shacyr</key>
  <string>S_hacyr.glif</string>
  <key>Shchacyr</key>
  <string>S_hchacyr.glif</string>
  <key>Softcyr</key>
  <string>S_oftcyr.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Tecyr</key>
  <string>T_ecyr.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>Tsecyr</key>
  <string>T_secyr.glif</string>
  <key>Tshecyr</key>
  <string>T_shecyr.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ubreve</key>
  <string>U_breve.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Ucyr</key>
  <string>U_cyr.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>Ukcyr</key>
  <string>U_kcyr.glif</string>
  <key>Ushortcyr</key>
  <string>U_shortcyr.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>Vecyr</key>
  <string>V_ecyr.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Yacyr</key>
  <string>Y_acyr.glif</string>
  <key>Yacyr.loclBGR</key>
  <string>Y_acyr.loclB_G_R_.glif</string>
  <key>Yatcyr</key>
  <string>Y_atcyr.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Ylongcyr</key>
  <string>Y_longcyr.glif</string>
  <key>Yucyr</key>
  <string>Y_ucyr.glif</string>
  <key>Yukrcyr</key>
  <string>Y_ukrcyr.glif</string>
  <key>Yusbigcyr</key>
  <string>Y_usbigcyr.glif</string>
  <key>Yusbigiotifiedcyr</key>
  <string>Y_usbigiotifiedcyr.glif</string>
  <key>Yuslittlecyr</key>
  <string>Y_uslittlecyr.glif</string>
  <key>Yuslittleiotifiedcyr</key>
  <string>Y_uslittleiotifiedcyr.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>Zecyr</key>
  <string>Z_ecyr.glif</string>
  <key>Zhecyr</key>
  <string>Z_hecyr.glif</string>
  <key>Zhecyr.loclBGR</key>
  <string>Z_hecyr.loclB_G_R_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>abreve</key>
  <string>abreve.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>acyr</key>
  <string>acyr.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>becyr</key>
  <string>becyr.glif</string>
  <key>becyr.loclBGR</key>
  <string>becyr.loclB_G_R_.glif</string>
  <key>becyr.serbian</key>
  <string>becyr.serbian.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>breve.cyrlc</key>
  <string>breve.cyrlc.glif</string>
  <key>breve.cyruc</key>
  <string>breve.cyruc.glif</string>
  <key>brevecomb</key>
  <string>brevecomb.glif</string>
  <key>brevecomb.cyr</key>
  <string>brevecomb.cyr.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>caroncomb</key>
  <string>caroncomb.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>checyr</key>
  <string>checyr.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>circumflexcomb</key>
  <string>circumflexcomb.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>dasiacombcyr</key>
  <string>dasiacombcyr.glif</string>
  <key>dblgravecomb</key>
  <string>dblgravecomb.glif</string>
  <key>decyr</key>
  <string>decyr.glif</string>
  <key>decyr.loclBGR</key>
  <string>decyr.loclB_G_R_.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dieresiscomb</key>
  <string>dieresiscomb.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>djecyr</key>
  <string>djecyr.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotaccentcomb</key>
  <string>dotaccentcomb.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>dotlessj</key>
  <string>dotlessj.glif</string>
  <key>dzecyr</key>
  <string>dzecyr.glif</string>
  <key>dzhecyr</key>
  <string>dzhecyr.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ebreve</key>
  <string>ebreve.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>efcyr</key>
  <string>efcyr.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight.fitted</key>
  <string>eight.fitted.glif</string>
  <key>eiotifiedcyr</key>
  <string>eiotifiedcyr.glif</string>
  <key>elcyr</key>
  <string>elcyr.glif</string>
  <key>elcyr.loclBGR</key>
  <string>elcyr.loclB_G_R_.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emcyr</key>
  <string>emcyr.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>emquad</key>
  <string>emquad.glif</string>
  <key>emspace</key>
  <string>emspace.glif</string>
  <key>encyr</key>
  <string>encyr.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>enquad</key>
  <string>enquad.glif</string>
  <key>enspace</key>
  <string>enspace.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>ercyr</key>
  <string>ercyr.glif</string>
  <key>ereversedcyr</key>
  <string>ereversedcyr.glif</string>
  <key>escyr</key>
  <string>escyr.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>eukrcyr</key>
  <string>eukrcyr.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>f_f</key>
  <string>f_f.glif</string>
  <key>f_f_i</key>
  <string>f_f_i.glif</string>
  <key>f_f_l</key>
  <string>f_f_l.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>figurespace</key>
  <string>figurespace.glif</string>
  <key>fitacyr</key>
  <string>fitacyr.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five.fitted</key>
  <string>five.fitted.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.fitted</key>
  <string>four.fitted.glif</string>
  <key>fourperemspace</key>
  <string>fourperemspace.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>gbreve</key>
  <string>gbreve.glif</string>
  <key>gecyr</key>
  <string>gecyr.glif</string>
  <key>gecyr.loclBGR</key>
  <string>gecyr.loclB_G_R_.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>geupcyr</key>
  <string>geupcyr.glif</string>
  <key>gjecyr</key>
  <string>gjecyr.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>gravecomb</key>
  <string>gravecomb.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hacyr</key>
  <string>hacyr.glif</string>
  <key>hairspace</key>
  <string>hairspace.glif</string>
  <key>hardcyr</key>
  <string>hardcyr.glif</string>
  <key>hardcyr.loclBGR</key>
  <string>hardcyr.loclB_G_R_.glif</string>
  <key>horizontalbar</key>
  <string>horizontalbar.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hungarumlautcomb</key>
  <string>hungarumlautcomb.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>hyphen-gnrl</key>
  <string>hyphen-gnrl.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>i.dotless</key>
  <string>i.dotless.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>ibreve</key>
  <string>ibreve.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>icyr</key>
  <string>icyr.glif</string>
  <key>icyr.loclBGR</key>
  <string>icyr.loclB_G_R_.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>iecyr</key>
  <string>iecyr.glif</string>
  <key>iegravecyr</key>
  <string>iegravecyr.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>igravecyr</key>
  <string>igravecyr.glif</string>
  <key>igravecyr.loclBGR</key>
  <string>igravecyr.loclB_G_R_.glif</string>
  <key>iocyr</key>
  <string>iocyr.glif</string>
  <key>ishortcyr</key>
  <string>ishortcyr.glif</string>
  <key>ishortcyr.loclBGR</key>
  <string>ishortcyr.loclB_G_R_.glif</string>
  <key>iukrcyr</key>
  <string>iukrcyr.glif</string>
  <key>iukrcyr.dotless</key>
  <string>iukrcyr.dotless.glif</string>
  <key>izhitsacyr</key>
  <string>izhitsacyr.glif</string>
  <key>izhitsagravedblcyr</key>
  <string>izhitsagravedblcyr.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>j.dotless</key>
  <string>j.dotless.glif</string>
  <key>jecyr</key>
  <string>jecyr.glif</string>
  <key>jecyr.dotless</key>
  <string>jecyr.dotless.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kacyr</key>
  <string>kacyr.glif</string>
  <key>kacyr.loclBGR</key>
  <string>kacyr.loclB_G_R_.glif</string>
  <key>kjecyr</key>
  <string>kjecyr.glif</string>
  <key>ksicyr</key>
  <string>ksicyr.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>ldot</key>
  <string>ldot.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>ljecyr</key>
  <string>ljecyr.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>macroncomb</key>
  <string>macroncomb.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine.fitted</key>
  <string>nine.fitted.glif</string>
  <key>njecyr</key>
  <string>njecyr.glif</string>
  <key>nonbreakinghyphen</key>
  <string>nonbreakinghyphen.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>numero</key>
  <string>numero.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>obreve</key>
  <string>obreve.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>ocyr</key>
  <string>ocyr.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>omegacyr</key>
  <string>omegacyr.glif</string>
  <key>omegaroundcyr</key>
  <string>omegaroundcyr.glif</string>
  <key>omegatitlocyr</key>
  <string>omegatitlocyr.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.fitted</key>
  <string>one.fitted.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otcyr</key>
  <string>otcyr.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>palatcombcyr</key>
  <string>palatcombcyr.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>pecyr</key>
  <string>pecyr.glif</string>
  <key>pecyr.loclBGR</key>
  <string>pecyr.loclB_G_R_.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>psicyr</key>
  <string>psicyr.glif</string>
  <key>psilicombcyr</key>
  <string>psilicombcyr.glif</string>
  <key>punctuationspace</key>
  <string>punctuationspace.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblreversed</key>
  <string>quotedblreversed.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quotereversed</key>
  <string>quotereversed.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>ringcomb</key>
  <string>ringcomb.glif</string>
  <key>ruble</key>
  <string>ruble.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven.fitted</key>
  <string>seven.fitted.glif</string>
  <key>shacyr</key>
  <string>shacyr.glif</string>
  <key>shacyr.loclBGR</key>
  <string>shacyr.loclB_G_R_.glif</string>
  <key>shchacyr</key>
  <string>shchacyr.glif</string>
  <key>shchacyr.loclBGR</key>
  <string>shchacyr.loclB_G_R_.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six.fitted</key>
  <string>six.fitted.glif</string>
  <key>sixperemspace</key>
  <string>sixperemspace.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>softcyr</key>
  <string>softcyr.glif</string>
  <key>softcyr.loclBGR</key>
  <string>softcyr.loclB_G_R_.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>tecyr</key>
  <string>tecyr.glif</string>
  <key>tecyr.loclBGR</key>
  <string>tecyr.loclB_G_R_.glif</string>
  <key>thinspace</key>
  <string>thinspace.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three.fitted</key>
  <string>three.fitted.glif</string>
  <key>threeperemspace</key>
  <string>threeperemspace.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>tildecomb</key>
  <string>tildecomb.glif</string>
  <key>titlocombcyr</key>
  <string>titlocombcyr.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>tsecyr</key>
  <string>tsecyr.glif</string>
  <key>tsecyr.loclBGR</key>
  <string>tsecyr.loclB_G_R_.glif</string>
  <key>tshecyr</key>
  <string>tshecyr.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two.fitted</key>
  <string>two.fitted.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ubreve</key>
  <string>ubreve.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>ucyr</key>
  <string>ucyr.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>ukcyr</key>
  <string>ukcyr.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>ushortcyr</key>
  <string>ushortcyr.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>vecyr</key>
  <string>vecyr.glif</string>
  <key>vecyr.loclBGR</key>
  <string>vecyr.loclB_G_R_.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>yacyr</key>
  <string>yacyr.glif</string>
  <key>yacyr.loclBGR</key>
  <string>yacyr.loclB_G_R_.glif</string>
  <key>yatcyr</key>
  <string>yatcyr.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>ylongcyr</key>
  <string>ylongcyr.glif</string>
  <key>ylongcyr.loclBGR</key>
  <string>ylongcyr.loclB_G_R_.glif</string>
  <key>yucyr</key>
  <string>yucyr.glif</string>
  <key>yucyr.loclBGR</key>
  <string>yucyr.loclB_G_R_.glif</string>
  <key>yukrcyr</key>
  <string>yukrcyr.glif</string>
  <key>yusbigcyr</key>
  <string>yusbigcyr.glif</string>
  <key>yusbigiotifiedcyr</key>
  <string>yusbigiotifiedcyr.glif</string>
  <key>yuslittlecyr</key>
  <string>yuslittlecyr.glif</string>
  <key>yuslittleiotifiedcyr</key>
  <string>yuslittleiotifiedcyr.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zecyr</key>
  <string>zecyr.glif</string>
  <key>zecyr.loclBGR</key>
  <string>zecyr.loclB_G_R_.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero.fitted</key>
  <string>zero.fitted.glif</string>
  <key>zerowidthjoiner</key>
  <string>zerowidthjoiner.glif</string>
  <key>zerowidthnonjoiner</key>
  <string>zerowidthnonjoiner.glif</string>
  <key>zerowidthspace</key>
  <string>zerowidthspace.glif</string>
  <key>zhecyr</key>
  <string>zhecyr.glif</string>
  <key>zhecyr.loclBGR</key>
  <string>zhecyr.loclB_G_R_.glif</string>
</dict>
</plist>
