<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ccmp</key>
  <array>
    <string>gravecomb</string>
    <string>acutecomb</string>
    <string>circumflexcomb</string>
    <string>tildecomb</string>
    <string>macroncomb</string>
    <string>brevecomb</string>
    <string>dotaccentcomb</string>
    <string>dieresiscomb</string>
    <string>ringcomb</string>
    <string>hungarumlautcomb</string>
    <string>caroncomb</string>
  </array>
  <key>locl</key>
  <array>
    <string>Decyr</string>
    <string>Elcyr</string>
    <string>Kacyr</string>
    <string>Yacyr</string>
    <string>Zhecyr</string>
    <string>becyr</string>
    <string>decyr</string>
    <string>elcyr</string>
    <string>gecyr</string>
    <string>hardcyr</string>
    <string>icyr</string>
    <string>igravecyr</string>
    <string>ishortcyr</string>
    <string>kacyr</string>
    <string>pecyr</string>
    <string>shacyr</string>
    <string>shchacyr</string>
    <string>softcyr</string>
    <string>tecyr</string>
    <string>tsecyr</string>
    <string>vecyr</string>
    <string>yacyr</string>
    <string>ylongcyr</string>
    <string>yucyr</string>
    <string>zecyr</string>
    <string>zhecyr</string>
  </array>
  <key>locl2</key>
  <array>
    <string>Decyr.loclBGR</string>
    <string>Elcyr.loclBGR</string>
    <string>Kacyr.loclBGR</string>
    <string>Yacyr.loclBGR</string>
    <string>Zhecyr.loclBGR</string>
    <string>becyr.loclBGR</string>
    <string>decyr.loclBGR</string>
    <string>elcyr.loclBGR</string>
    <string>gecyr.loclBGR</string>
    <string>hardcyr.loclBGR</string>
    <string>icyr.loclBGR</string>
    <string>igravecyr.loclBGR</string>
    <string>ishortcyr.loclBGR</string>
    <string>kacyr.loclBGR</string>
    <string>pecyr.loclBGR</string>
    <string>shacyr.loclBGR</string>
    <string>shchacyr.loclBGR</string>
    <string>softcyr.loclBGR</string>
    <string>tecyr.loclBGR</string>
    <string>tsecyr.loclBGR</string>
    <string>vecyr.loclBGR</string>
    <string>yacyr.loclBGR</string>
    <string>ylongcyr.loclBGR</string>
    <string>yucyr.loclBGR</string>
    <string>zecyr.loclBGR</string>
    <string>zhecyr.loclBGR</string>
  </array>
  <key>pnum_tnum</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>pnum_tnum2</key>
  <array>
    <string>zero.fitted</string>
    <string>one.fitted</string>
    <string>two.fitted</string>
    <string>three.fitted</string>
    <string>four.fitted</string>
    <string>five.fitted</string>
    <string>six.fitted</string>
    <string>seven.fitted</string>
    <string>eight.fitted</string>
    <string>nine.fitted</string>
  </array>
  <key>public.kern1.cyrl_elcyr_LT</key>
  <array>
    <string>decyr</string>
    <string>elcyr</string>
    <string>elcyr.loclBGR</string>
  </array>
  <key>public.kern1.cyrl_tsecyr_LT</key>
  <array>
    <string>shchacyr</string>
    <string>shchacyr.loclBGR</string>
    <string>tsecyr</string>
    <string>tsecyr.loclBGR</string>
  </array>
  <key>public.kern1.cyrl_ucyr_LT</key>
  <array>
    <string>ucyr</string>
    <string>ushortcyr</string>
  </array>
  <key>public.kern2.cyrl_cyr_RT</key>
  <array>
    <string>acyr</string>
    <string>decyr.loclBGR</string>
    <string>escyr</string>
    <string>eukrcyr</string>
    <string>fitacyr</string>
    <string>iecyr</string>
    <string>ocyr</string>
    <string>omegaroundcyr</string>
    <string>ukcyr</string>
  </array>
  <key>public.kern2.cyrl_elcyr_RT</key>
  <array>
    <string>decyr</string>
    <string>elcyr</string>
    <string>elcyr.loclBGR</string>
  </array>
  <key>public.kern2.cyrl_hardcyr_RT</key>
  <array>
    <string>hardcyr</string>
    <string>hardcyr.loclBGR</string>
  </array>
  <key>public.kern2.cyrl_ucyr_RT</key>
  <array>
    <string>ucyr</string>
    <string>ushortcyr</string>
  </array>
</dict>
</plist>
